#giftastic .container .menu {
    padding: 10px;
    background: #fff;
    border: none;
}
#giftastic .container .menu .logo {
    font-size:50px;
    font-family: 'Kalam', cursive;
    color:#5F9EA0;
    font-weight: bold;
}

#giftastic .container .menu form .menu-container {
    width: 500px;
}

hr {
    border: 0 !important;
    height: 1px !important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)) !important;
    margin-bottom: -2px !important;
}

#giftastic .container .gif-buttons-container {
    margin:20px 0;
    border: 1px solid rgb(143, 139, 139);
    border-radius: 5px;
    padding: 20px;
    min-width: 150px;
}

#giftastic .container .gif-images-container {
    padding: 20px;
    min-width: 150px;

} 
#giftastic .container .gif-buttons-container .gif-button {
    border-radius: 5px;
    border:none;
    box-shadow: none;
    color:#fff;
    font-weight: bold;
    padding: 5px 10px;
    background:#5F9EA0;
    margin:10px 3px;
}

#giftastic .container .gif-images-container .gif-image {
    margin: 20px 0;
}


#giftastic .container .gif-images-container .gif-image .gif-image-title {
    font-weight: bold;
}

.popup .content {
    display: none;
    max-height: 30%;
    overflow: auto;
    text-align: center;
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
 }
 
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  }
.popup .close {
  position: absolute;
  top: 0px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #E0D636;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
 
#giftastic .container .overlay .popup .text {
    margin:10px auto;
    font-size:25px;
    font-family: 'Old Standard TT', serif;
    color:#5F9EA0;
    text-align: center;
    
}
#giftastic .container .overlay .popup .result-img {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    display: block;
}
